/* Panelin genel stil ayarları */
#control-panel {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: none; /* Başlangıçta gizli */
    flex-direction: column;
    gap: 10px;
    z-index: 10000;
}

/* Paneldeki butonlar */
#control-panel button {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

#control-panel button:hover {
    background-color: #0056b3;
}

#control-panel button:active {
    background-color: #003d80;
}
