/* Light Theme - General Panel Styling */
#control-panel {
  background: rgba(245, 245, 245, 0.9) !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;
}

/* Light Theme - Button Styling */
#shape-container button {
  filter: brightness(0) invert(0) !important;
}

.active-shape {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px rgba(7, 0, 0, 0.945);
}

#dropdown-menu {
  background: rgba(245, 245, 245, 0.9) !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Light Theme - Dropdown Menu Items */
.action-picker {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
}

/* Light Theme - Buttons */
.action-button,
#dropdown-button {
  background: linear-gradient(135deg, #e0e0e0, #ffffff);
}

.action-button img,
#clear-button .clear-icon {
  filter: brightness(0);
}

#clear-button:hover {
  box-shadow: 0 0 10px rgba(255, 77, 77, 0.3);
}
