/* Genel Panel Tasarımı */
#control-panel {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(30, 30, 30, 0.9);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10001;
}

/* Butonlar */
.action-button {
  background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex; /* Flexbox kullanarak içeriği ortalar */
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.action-button img {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
}
/* Butonlar Hover Efekti */
.action-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.action-button.small {
  width: 40px;
  height: 40px;
}





/* Dropdown Menu */
#dropdown-button {
  background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dropdown-button img{
  width: 64px;
  height: 64px;
}

#dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: rgba(30, 30, 30, 0.95);
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: -80px;
  z-index: 10001;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Dropdown Menü Öğeleri */
.action-picker {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #2d2d2d;
  color: #fff;
  cursor: pointer;
}

/* Clear Button için Özel Stil */
#clear-button {
  background: #ff4d4d;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

#clear-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
  
}

#clear-button .clear-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

/* Kanvas İmleci */
#webdraw-canvas {
  cursor: crosshair;
}

/* Geçişler ve Animasyonlar */
.open {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
